pkgbase = sidetab
	pkgdesc = A Contexts-style window switcher sidebar for Hyprland
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/igaurab/sidetab
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = hyprland
	depends = vulkan-icd-loader
	depends = wayland
	depends = libxkbcommon
	depends = fontconfig
	source = sidetab-0.1.1.tar.gz::https://github.com/igaurab/sidetab/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 00007187d62a9fce8356945069da26f7b14cdaedf31d361f0698170a14ffed03

pkgname = sidetab
